name: ci

on:
  pull_request:
  push:
    branches: [main]

env:
  CACHE_VERSION: v8
  PERSISTENT_CACHE_DIR: cached

jobs:
  ci:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        include:
          - tuple:
              elixir: "1.14"
              erlang: "25.3.2"
              postgres: "15.8-alpine"
          - tuple:
              elixir: "1.18"
              erlang: "27.3.2"
              postgres: "15.8-alpine"

    env:
      MIX_ENV: test

    services:
      postgres:
        image: postgres:${{ matrix.tuple.postgres }}
        ports:
          - 2345:5432
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
          options: >-
            --health-cmd pg_isready
            --health-interval 10s
            --health-timeout 5s
            --health-retries 5

    steps:
      - uses: actions/checkout@v6

      - uses: erlef/setup-beam@v1
        with:
          elixir-version: ${{ matrix.tuple.elixir }}
          otp-version: ${{ matrix.tuple.erlang }}

      - uses: actions/cache@v4
        with:
          path: |
            deps
            _build
          key: ${{ matrix.tuple.elixir }}-${{ matrix.tuple.erlang }}-${{ hashFiles('**/mix.lock') }}
          restore-keys: |
            ${{ matrix.tuple.elixir }}-${{ matrix.tuple.erlang }}-

      - run: mix deps.get --only $MIX_ENV

      - run: mix format --check-formatted

      - name: Compile dependencies
        run: mix deps.compile

      - name: Compile and test without custom attributes
        env:
          MIX_ENV: test
        run: |
          mix compile --warnings-as-errors
          mix do ecto.create, ecto.migrate
          mix test --exclude custom_attributes_embedded_schema

      - name: Clean and compile with custom attributes
        env:
          MIX_ENV: test_custom_attributes_embedded_schema
        run: |
          mix clean
          mix compile --warnings-as-errors
          mix do ecto.create, ecto.migrate
          mix test --only custom_attributes_embedded_schema

      - run: mix dialyzer
